services:
  web:
    build:
      context: .
      dockerfile: .docker/Dockerfile.dev
    container_name: geo_estate_web
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - WATCHPACK_POLLING=true
    restart: always
